body {
    background-image: none;
    background-color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.i1 {
    width: 30%;
}
.i2 {
    width: 35%;
}
.i3 {
    width: 35.0%;
}
.i4 {
    width: 30%;
}
.i5 {
    width: 70%;
}
.i6 {
    width: 34%;
}
.i7  {
    width: 34%;
}
.i8 {
    width: 32%;
}
.i9 {
    width: 33%;
}
.i10 {
    width: 34%;
}
.i11 {
    width: 33%;
}
.i12 {
    width: 65%;
}
.i13 {
    width: 60%;
}
.i14 {
    width: 40%;
}
.i15 {
    width: 38%;
}
.i16 {
    width: 30%;
}
.i17 {
    width: 32%;
}
.i18 {
    width: 35%;
}