body {
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url("../../assets/images/hero.jpg") !important;

  @media screen and (max-width: 767px){
    /* background-image: url("../../assets/hero-min.jpg"); */
  }

}
