body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url("../../assets/hero.jpg");

  @media screen and (max-width: 767px){
    /* background-image: url("../../assets/hero-min.jpg"); */
  }

}
